{% extends "FestivalGuestBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
<h2>Most popular</h2>
<h2>Upcoming</h2>

Hello {{ name }}!
{% endblock %}
