{% extends "FestivalFestivalBundle::layout.html.twig" %}

{% block title "Festival Alarm - Festival" %}

{% block content_header '' %}

{% block content %}

{% for festival in festivals %}
 	<a href="{{ path('_festival_show', {'slug': festival.slug}) }}">{{ festival.title }}</a>
        <li>{{ festival.desc }}</li>
    {% else %}
        <li>{% trans %}No festivals found{% endtrans %}</li>
{% endfor %}

{% endblock %}
